[user]
  name = Ali Yahya
  email = alive@google.com

[core]
  excludesfile = ~/.gitignore_global
	pager = less -S

[alias]
  sh = show --patience
  sc = show -s
  shm = show --minimal
  shh = show --histogram
  shd = show
  cm = commit
  cme = commit --allow-empty
  cmse = commit --allow-empty -m "stage"
  cmsd = commit --allow-empty -m "debug"
  cmsa = commit --amend --no-edit
  cmsf = commit --amend --no-edit --all
  co = checkout
  ft = fetch -p
  rs = !sh -c 'ls `git rev-parse --git-dir` | grep rebase' -
  st = status -s
  sm = submodule
  lg = log --graph --decorate --abbrev-commit --pretty=format:'%C(bold red)%h%C(reset) %C(bold blue)%an%C(reset) -%C(cyan)%d%C(reset) %s %C(bold cyan)(%cd)'
  lh = log --graph --decorate --abbrev-commit --pretty=format:'%C(bold red)%h%C(reset) %C(bold blue)%an%C(reset) -%C(cyan)%d%C(reset) %s %C(bold cyan)(%cr)'
  ls = log --stat --decorate --no-merges
  lc = log ORIG_HEAD.. --stat --no-merges --decorate
  lu = log ..@{upstream}
  df = diff -M
  dfs = diff --staged -M
  diffstat = diff --stat -r -M
  stl = stash list
  sts = "!sh -c 'git stash show -p stash@{$1}' -"
  who = "!sh -c 'git shortlog -sn --no-merges' -"
  whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
  abbr = "!sh -c 'git rev-list --all | grep ^$1 | while read commit; do git --no-pager show $commit; done' -"
  praise = blame

[color]
  diff        = auto
  branch      = auto
  grep        = auto
  showbranch  = auto
	ui = auto
  interactive = auto
  status      = auto

[apply]
  whitespace = fix

[branch]
  autosetuprebase = always

[rebase]
  autosquash = true

[receive]
  denyCurrentBranch = refuse

[push]
  default = upstream

[clangFormat]
    binary=/usr/bin/clang-format
    style=file
[http]
	cookiefile = ~/.gitcookies
